[submodule "nodejs-ecosystem-mastery"]
	path = nodejs-ecosystem-mastery
	url = https://github.com/zulquer/nodejs-ecosystem-mastery.git
[submodule "python-ecosystem-mastery"]
	path = python-ecosystem-mastery
	url = https://github.com/zulquer/python-ecosystem-mastery.git
[submodule "backend-mastery"]
	path = backend-mastery
	url = https://github.com/zulquer/backend-mastery.git
[submodule "frontend-mastery"]
	path = frontend-mastery
	url = https://github.com/zulquer/frontend-mastery.git
[submodule "cloud-mastery"]
	path = cloud-mastery
	url = https://github.com/zulquer/cloud-mastery.git
[submodule "cicd-mastery"]
	path = cicd-mastery
	url = https://github.com/zulquer/cicd-mastery.git
[submodule "agile-mastery"]
	path = agile-mastery
	url = https://github.com/zulquer/agile-mastery.git
